* {
    margin:0px;
    padding:0px;
}

body{
    text-align: center;
    background-color: blueviolet;
}

h1{
    font-style: bold;
    color: black;
}

p{
    font-size: medium;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

#contenedor{
width: 80%;
text-align: center;
background: rgb(255, 255, 255);
background: linear-gradient(90deg, rgba(0,0,0,0.7720797720797721) 8%, rgba(48,48,48,0.8354692218684349) 100%);
align-content: center;
padding: 1em;
border: 1px solid;
margin: 0 auto;
}

#contenedor-blog{
background-color: rgba(255, 255, 255, 0.5);
}

#cabecera{
    background-color: black;
    
}

#cabecera2{
    background-color: black;
    
}

#cabecera p{
    color: rgb(248, 248, 248);
}

.nav a, li{
    color: black;
    font-size: x-large;
    font-style: bold;


}

.nav {
    list-style:none;
    right:100%;
	
    margin:auto;
				
				font-family:Arial, Helvetica, sans-serif;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				
                
}

#logo{
    float: left;
    width: 20px;
    height: 20px;
    filter: invert(100%);
}