body{
    text-align: center;
    background-color: blueviolet;
}

h1{
    font-style: bold;
<<<<<<< HEAD
    color: rgb(0, 255, 200);
=======
    color: red;
>>>>>>> cabecera
}

p{
    font-size: medium;
    color: white;
}

#contenedor{
width: 80%;
text-align: center;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.7720797720797721) 8%, rgba(48,48,48,0.8354692218684349) 100%);
align-content: center;
padding: 1em;
border: 1px solid;
margin: 0 auto;
}

#cabecera{
    background: rgb(30, 255, 0);
    background: linear-gradient(90deg, rgba(255,255,255,0.465721322708771) 41%, rgba(169,169,169,0.3984944319524685) 100%);
}

#cabecera p{
    color: red;
}

.nav a, li{
    color: black;
    font-size: x-large;
    font-style: bold;


}

.nav ul {
    list-style:none;
}